#map {
    height: 450px;
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    margin: 0;
    padding: 0;
  }
  .ppl-stories{
      background-color: rgb(247, 243, 241);
  }
  .ppl-pics{
      width: 200px;
      height: 200px;
      margin: 50px;
  }
  .txt-right{
      margin-top: 80px;
      width: 75%;
      font-family: 'Quicksand', sans-serif;
  }
  .txt-left{
    margin-top: 80px;
    margin-left: 250px;
    width: 50%;
    font-family: 'Quicksand', sans-serif;
}
  .story-title{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
  }
  .person-story{
      margin: 60px;
  }
  .but-ov-pic{
    width: 182px; /*328 co je 1/3 - 20margin left*/
    height: 121px;
    line-height: 20px;
    margin-top: 0px;
    margin-left: 9px;
    margin-right:0px;
    display:inline-block;
  }
  .img-wrapper {
    position: relative;
   }
  
  .img-responsive {
    width: 100%;
    height: auto;
  }
  
  .img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
  }
  
  .img-overlay:before {
    content: ' ';
    display: block;
    /* adjust 'height' to position overlay content vertically */
    height: 50%;
  }
  .find{
    font-family: 'Advent Pro', sans-serif;
    font-size: 40px;
    letter-spacing: 2mm;
    color: antiquewhite;
  }
  .find:hover{
    text-decoration: line-through;
  }
  .tasks{
    background-color: rgb(52, 58, 64);
    height: 900px;
    align-content: center;
  }
  .quick-tasks{
    float: left;
    clear: none;
    height: 400px;
    width: 550px;
    margin-left: 100px;
    margin-top: 100px;
    background-color:rgb(247, 243, 241);
  }
  .about{
    float: right;
    clear: none;
    height: 400px;
    width: 400px;
    margin-right: 100px;
    margin-top: 100px;
    background-color:rgb(247, 243, 241);
  }
  .tasks-title{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    color:rgb(247, 243, 241);
  }
  .description{
    font-family: 'Quicksand', sans-serif;
  }
  .group-btn{
    margin: 20px;
  }
  .sec-title{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    color:rgb(52, 58, 64);
    margin: 20px;
    letter-spacing: 0.7mm;
  }